/**

Typography

**/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.h1{
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
}

.h2{
    font-family: Rubik, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
}

.p{
    font-family: Rubik, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
}

.em{
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.small{
    font-family: Rubik, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
}


.highlight{
    font-family: Rubik, sans-serif;
    line-height: 150%;
    font-size: 32px;
    font-weight: 300;
}

.highlight-subtitle{
    font-family: Rubik, sans-serif;
    line-height: 200%;
    font-size: 12px;
    font-weight: 200;
}   

.form-text{
    font-family: Rubik, sans-serif;
    line-height: 100%;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.button-text{
    font-family: Rubik, sans-serif;
    line-height: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


/** 

Colors

**/

.color-primary{
    color: #50ad9c;
}

.color-text{
    color: #1a1a1a;
}

.color-text-muted{
    color: #808080;
}

.color-gray-light{
    color: #eee;
}


.background-color-primary{
    background-color: #50ad9c;
}
.background-color-text{
    background-color: #1a1a1a;
}

.background-color-text-muted{
    background-color: #808080;
}

.background-color-gray-light{
    background-color: #eee;
}

/**

Link styles

**/

a.active{
    color: #50ad9c;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}


/*

Header Navigation

*/
/*
.navigation-item{
    margin-left: 32px;
}

.navigation-item:first-child{
    margin-left: 0;
}

.navigation{
    text-align: center;
}

body .navigation{
    margin-top: 16px;
}
*/

.navigation{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 32px;
}
/*

Logo

*/


/*.logo{
    width: auto;
    height: 64px;
    display: block;
    margin: 0 auto;
}*/

/*.header{

    margin-top: 80px;
    margin-bottom: 80px;
}*/

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 80px;
}

/*.main{
    margin-top: 80px;
    margin-bottom: 80px;
}*/

/*

Featured article

*/

.featured-article{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper{
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.metadata{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.featured-image{
    aspect-ratio: 1120 / 630;
    object-fit: cover;
    width: 100%;
    display: block;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.article-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.single-article{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 240px;
    gap: 24px;
}

.article-details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 16px;
}

.article-image{
    aspect-ratio: 320 / 240;
    object-fit: cover;
}


/**

Newsletter styles 

**/

.newsletter{
    display: flex;
    flex-direction: row;
    gap: 128px;
    justify-content: space-between;
    padding: 40px 192px 40px 96px;
    background-color: #f6f6f6;
}

.newsletter-content{
    display: flex;
    flex-direction: column;
    gap: 14.55px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.form-entry{
    width: 352px;
    height: 48px;
    background-color: #E6E6E6;
    padding: 8px 16px;
}

.button{
    width: 352px;
    height: 48px;
    background-color: #f6f6f6;
    padding: 8px 16px;
    border-style: solid;
    border-color: #50ad9c;
    cursor: pointer;
}